h1 {
  /*width: 32px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;*/
  font-family: Arial, Helvetica, sans-serif;
   text-align: center 
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
figcaption {
  font-style: italic;
}

body {
  width: 70%;
  margin: 0 auto;
  background:  #c8a2c8;
  color: aliceblue;
  background-size: cover;
}
img {
  width: 250px;
  height: 150px;
}
figure {
  float: right;
}
